@use "variable" as *;
@use "extend" as *;
@use "color" as *;
.#{$baseSelector}color-picker {
    position: absolute;
    &-box {
        color: $boxColor;
        border: {
            radius: 4px;
            color: $boxBorderColor;
            style: solid;
            width: 1px;
        }
        padding: 4px 7px;
        line-height: 1.5;
        font-size: 14px;
        transition: border-color .2s cubic-bezier(.175,.885,.32,1.275);
        box-sizing: border-box;
        @extend .flex-center;
        cursor: pointer;
    }
    &-panel {
        min-width: 280px;
        box-sizing: content-box;
        border: 1px solid $panelBorderColor;
        box-shadow: 0 4px 15px $panelBoxShadowColor;
        border-radius: 5px;
        z-index: 10;
        padding: 7px;
        text-align: left;
        display: none;
        &-content {
            margin-bottom: 6px;
        }
        .#{$baseSelector}-inner-panel {
            width: 280px;
            height: 180px;
            cursor: pointer;
            position: relative;
            .#{$baseSelector}-white-panel,.#{$baseSelector}-black-panel {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
            .#{$baseSelector}-white-panel {
                background: $whitePanel;
            }
            .#{$baseSelector}-black-panel {
                background: $blackPanel;
            }
        }
    }
    &-icon {
        width: 20px;
        height: 20px;
    }
}