// 色块部分
$boxBorderColor: #dcdee2;
$boxColor: #535455;

// 公共部分
$white: #fff;

// 颜色面板部分
$panelBorderColor: #ebeeff;
$panelBoxShadowColor: rgba(0, 0, 0, .2);
$whitePanel: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
$blackPanel: linear-gradient(0deg,#000,transparent);